html,body,ul,li{
  padding: 0;
  margin: 0;
}
p,span,a{
  font-family: "PingFang SC", sans-serif;
}
body{
  background-color: #fff;
}
li,ol{list-style: none;}
.am-navbar{
  background-image: linear-gradient(to bottom, rgb(253,253,253) 0%, rgb(240,240,240) 100%);
    background-clip: padding-box;
    box-shadow: 0 0 4px rgba(0,0,0,0.24);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 99;
}

